<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id = "app">
      
        <button @click="set('addplus')" onclick="showAdd(),addplus()">+</button>
        <button @click="set('addminus')" onclick="showMinus(),addminus()">-</button>
        <button @click="set('addmultiply')" onclick="showMul(),addmultiply()">*</button>
        <button @click="set('adddivide')" onclick="showDiv(),adddivide()">/</button>
        <br>
        <h1 id="text">Click</h1>
       
        <input type = "number" v-model="number1">
        <label id="text1">+</label>
        <input type = "number" v-model="number2">
        =
        <template v-if="n =='addplus'">
            {{ addplus }}
        </template>
        <template v-if="n =='addminus'">
            {{ addminus }}
        </template>
        <template v-if="n =='addmultiply'">
            {{ addmultiply }}
        </template>
        <template v-if="n =='adddivide'">
            {{ adddivide }}
        </template>

        <script>
            function showAdd() {
            document.getElementById("text").innerHTML = "การบวก";
            }
            function showMinus() {
            document.getElementById("text").innerHTML = "การลบ";
            }
            function showMul() {
            document.getElementById("text").innerHTML = "การคูณ";
            }
            function showDiv() {
            document.getElementById("text").innerHTML = "การหาร";
            }
        </script>
         <script>
            function add() {
            document.getElementById("text1").innerHTML = "+";
            }
            function minus() {
            document.getElementById("text1").innerHTML = "-";
            }
            function mul() {
            document.getElementById("text1").innerHTML = "*";
            }
            function div() {
            document.getElementById("text1").innerHTML = "/";
            }
        </script>
       

    </div>
    <script>
         var app = new Vue({
            el: '#app',
            data:{
                idd:0,
                number1: 0,
                number2: 0,
                result:0,
                tex:[],
                boxx:[],

            },
            methods: {
                set: function(N) {
                    this.n = N
                }
                
            },
            
            computed: {
                
                addplus: function(){
               return parseInt(this.number1) + parseInt(this.number2);
            },
                addminus:function(){
                return parseInt(this.number1) - parseInt(this.number2);

                },
                addmultiply: function(){
               return parseInt(this.number1) * parseInt(this.number2);
            },
            adddivide: function(){
               return parseInt(this.number1) / parseInt(this.number2);
            },
            
            },
         });
        
    </script>
    
</body>
</html>